<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882367747131-j5qn3j5rdktjnp7lhfh1k76n6ae48lf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882367747131-j5qn3j5rdktjnp7lhfh1k76n6ae48lf1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882367747131-6m04rtu39g4ipm3ddqmkltaot6bamirm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWqujotTKBGPv00HTgNgjOP3lp0qXRKXg</string>
	<key>GCM_SENDER_ID</key>
	<string>882367747131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yayat.userKost</string>
	<key>PROJECT_ID</key>
	<string>manajemen-kost-a31ff</string>
	<key>STORAGE_BUCKET</key>
	<string>manajemen-kost-a31ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882367747131:ios:3d582f4bffa9880e9fb81e</string>
</dict>
</plist>